<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<h2>Project&nbsp;<small th:text="${project.title}"></small></h2>
		<div class="row">
			<div class="col-md-8">
				<h3>Active Sprint</h3>
			</div>
		</div>
 		<div class="row">
			<div class="col-md-8" th:if="${project.activeSprint != null}">
				<p><a th:id="active_sprint" th:href="@{'/project/' + ${project.id} + '/sprint/' + ${project.activeSprint.id}}"><span th:text="${project.activeSprint.name}"></span></a></p>
			</div>
		</div>
		<div>
			<div><h3>Reports</h3></div>
			<div><a id="project_burndown" th:href="@{'/project/' + ${project.id} + '/burndown/'}">Project Burndown</a></div>
			<div th:if="${project.activeSprint != null}"><a id="sprint_burndown" th:href="@{'/project/' + ${project.id} + '/sprint/' + ${project.activeSprint.id} + '/burndown'}">Sprint Burndown</a></div>
		</div> 
		<div id="completed_sprints">
			<h3>Completed Sprints</h3>
			<table id="completed_sprints" class="table">
				<tr>
					<th>Sprint #</th>
					<th>Start Date</th>
					<th>End Date</th>
				</tr>
				<tr th:each="sprint : ${project.inactiveSprints}">
					<td><a th:href="@{'/project/' + ${project.id} + '/sprint/' + ${sprint.id}}">#<span th:text="${sprint.number}"></span></a></td>
					<td th:text="${sprint.startDate}" />
					<td th:text="${sprint.endDate}" />
				</tr>
			</table>			
		</div>
		<div id="backlog">
			<h3>Backlog&nbsp;&nbsp;<small><a th:href="@{/addstory/__${project.id}__}">Add Story</a></small></h3>
			<table id="backlog" class="table">
				<tr>
					<th>Story</th>
					<th>Story Points</th>
					<th>Status</th>
				</tr>
				<tr th:each="story : ${project.stories}">
					<td><a th:href="@{/story/__${story.id}__}"><span th:text="${story.title}"></span></a> </td>
					<td th:text="${story.storypoints}" />
					<td th:text="${story.status}" />
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
