<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content" th:if="${projectServiceIsAlive == true}">
		<div class="row">
			<div class="col-md-8">
				<h2>
					Projects&nbsp;&nbsp;<small><a th:href="@{/newproject}">new</a></small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
		</div>
		<div class="row">
			<ul>
				<li th:each="project : ${projects}"><a
					th:href="@{'/project/' + ${project.id}}"> <span
						th:text="${project.title}"></span>
				</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
