<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
	<head>
		<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
		<script src="https://code.highcharts.com/highcharts.js" type="text/javascript"></script>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css"/>
	</head>	
<body>
	<div layout:fragment="content">
		<div>
			<a th:href="@{/project/__${projectId}__}">Project</a>
		</div>
		<div>
			<a th:href="@{'/project/' + ${projectId} + '/sprint/' + ${sprint.id}}">Sprint</a>
		</div>		
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
			<script th:inline="javascript">
         		$(function () {
				  $('#container').highcharts({
				    title: {
				      text: 'Sprint Burndown Chart',
				      x: -20 //center
				    },
				    colors: ['blue', 'red'],
				    plotOptions: {
				      line: {
				        lineWidth: 3
				      },
				      tooltip: {
				        hideDelay: 200
				      }
				    },
				    subtitle: {
				      text: /*[[${sprint.name}]]*/ 'Sprint 1',
				      x: -20
				    },
				    xAxis: {
				      categories: /*[[${sprint.days}]]*/  ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8', 'Day 9', 'Day 10']
				    },
				    yAxis: {
				      title: {
				        text: 'Hours'
				      },
				      plotLines: [{
				        value: 0,
				        width: 1
				      }]
				    },
				    tooltip: {
				      valueSuffix: ' hrs',
				      crosshairs: true,
				      shared: true
				    },
				    legend: {
				      layout: 'vertical',
				      align: 'right',
				      verticalAlign: 'middle',
				      borderWidth: 0
				    },
				    series: [{
				      name: 'Ideal Burn',
				      color: 'rgba(255,0,0,0.25)',
				      lineWidth: 2,
				      data: /*[[${sprint.ideal}]]*/ [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
				    }, {
				      name: 'Actual Burn',
				      color: 'rgba(0,120,200,0.75)',
				      marker: {
				        radius: 6
				      },
				      data: /*[[${sprint.actual}]]*/ [100, 110, 85, 60, 60, 30, 32, 23, 9, 2]
				    }]
				  });
				});
			</script>
		</div>
	</div>
</body>
</html>
