<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<h1>Story&nbsp;&nbsp;<small th:text="${story.title}"></small></h1>
		<p>Description : <span th:text="${story.description}"></span></p>
		<p>Story Points : <span th:text="${story.storypoints}"></span></p>
		<p>Status : <span th:text="${story.status}"></span></p>
		<p>Project : <a th:href="@{/project/__${story.project.id}__}"><span th:text="${story.project.title}"></span></a></p>
		<div>
			<div>
				<h3>Acceptance Criteria <small><a th:href="@{/criteria/__${story.id}__}">Add Crtieria</a></small></h3>
			</div>			
			<ol>
				<li th:each="criteria : ${story.criteria}">
					<span th:text="${criteria.description}"></span>
				</li>
			</ol>			
		</div>
		<div>
			<h3>Tasks <small><a th:href="@{/task/__${story.id}__}">Add Task</a></small></h3> 
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Initial Hours</th>
					<th>Remaining Hours</th>
					<th>Status</th>
				</tr>
				<tr th:each="task : ${story.tasks}">
					<td th:text="${task.title}"/>
					<td th:text="${task.description}" />
					<td th:text="${task.initialHours}" />
					<td th:text="${task.remainingHours}" />
					<td th:text="${task.status}" />
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
